#head{
    background-color:darkgrey;
    height: 200px;
    text-align: center;
    padding: 60px;
}

#controller{
    background-color:rgb(231, 18, 18);
    height: 200px;
    text-align: center;
    padding: 60px; 
}




